body{
    background-color: slategray;
}
.img-menu{
    height: 32px;

}
#disney-plus{
    height: 39px;

}
#div-menu{
    background-color: #fff159;
    padding: 10px;
}
#menu{
    margin-left: 55px;
    margin-right: 0;

}
#categorias{
    margin-left: 40px;
    margin-right: 0;

}
#barra-busqueda{
    height: 36px;
    margin-right: 0px;
    border-radius:2px;
    border-top: transparent;
    border-image-outset:url(img/lupa.png);
    
}
#row-1{

}
#row-2{
    height: 35px;
    margin-right: 0;

}
#enviar{
    background-color: #fff159;
    border: 0px #fff159;
    text-align: left;
    height: 30px;
}
#lupita{
    margin: 0;
    height: 25px;
}
#ubicacion{
    height: 35px;
}

#div-ubicacion{
    padding-right: 20px;
}


#span-enviar{
    color: rgba(0,0,0,.5);
    font-size: 12px;
    height: 30px;
    margin-right: 50px;

}
#buenos-aires{
    color: rgba(0,0,0,.5);
    font-size: 13px;
    height: 30px;
    font-weight: 600;
    padding-bottom: 30px;

}
#navbar{
    padding-top: 12px;
    font-size:14px;
}

.lista{
    text-decoration: none;
    color: rgba(0,0,0,.5);
    margin: 0px;
    padding-left: 17px;
}
.lista-2{
    text-decoration: none;
    color: rgba(0,0,0,.5);
    margin: 0px;
    padding-left: 17px;
    font-size: 14px;
}
