body{
    background-color: #e7e7e7;
}
.titulo{
    padding-top: 15px;
}
a{
    text-decoration: none;
}
#oferta{
    background-color:dodgerblue;
    color: white;
    font-weight: 500;
    padding: 2px;
    border-radius: 4px;
    font-size: small;
}
.producto-
img{
    width: 225px;
}
#precio-anterior{
    color: gray;
    text-decoration: line-through;
    font-size: smaller;
}
.coutas{
    color: #00a650;
}
.envio{
    color: #00a650;
}
#marcas{
    padding: 15px;
    text-align: center;
}
.img-marca{
    height: 120px;
    width: 120px;
    border-radius: 100px;
    }

.nombre-marca{
    padding-left: 25px;
}
.img-menu{
    height: 32px;

}
#disney-plus{
    height: 39px;

}
#div-menu{
    background-color: #fff159;
    padding: 10px;
}
#menu{
    margin-left: 55px;
    margin-right: 0;

}

.location{
    display: flex;
    align-items: center;/*centro verticalmente */
}

#barra-busqueda{
    height: 36px;
    margin-right: 0px;
    border-radius:2px;
    border-top: transparent;
    border-image-outset:url(img/lupa.png);
    
}
#row-1{

}
#row-2{
    height: 35px;
    margin-right: 0;

}
#enviar{
    background-color: #fff159;
    border: 0px #fff159;
    text-align: left;
    height: 30px;
}
#lupita{
    margin: 0;
    height: 25px;
}
#ubicacion{
    height: 35px;
}

#div-ubicacion{
    padding-right: 20px;
}


#p-enviar{
    color: rgba(0,0,0,.5);
    font-size: 9px;
    margin:0;
}

#p-address{
    color: rgba(0,0,0,.5);
    font-size: 13px;
    font-weight: 600;
    margin:0;
}

#navbar{
    padding-top: 12px;
    font-size:14px;
}

.lista{
    text-decoration: none;
    color: rgba(0,0,0,.5);
    margin: 0px;
    /* padding-left: 17px; */
}
.lista-2{
    text-decoration: none;
    color: rgba(0,0,0,.5);
    margin: 0px;
    padding-left: 17px;
    font-size: 14px;
}
.row-categorias{
    display: flex;
    padding-right: 10px;
}





/* Clases genericas */

.bg-white{
    background-color: white !important;
}
.margin-0{
    margin: 0;
}


